<h3>Add Task</h3>
<div class="add-todo-box my-3">
  <form #add="ngForm" (ngSubmit) = "onSubmit()" (ngSubmit) = "complete(add)">
    <div class="form-group">
      <!-- <label for="title">Title</label> -->
      <input type="text" [(ngModel)]="title" name="title" class="form-control" id="title" aria-describedby="title" placeholder="Enter Title">
    </div>
    <div class="form-group">
      <!-- <label for="Desc">Description</label> -->
      <input type="text" [(ngModel)]="desc" name="desc"class="form-control" id="Desc" placeholder="Enter Description">
    </div>
    <button type="submit" class="btn btn-primary">Add Task</button>
  </form>
</div>