<div class="container-fluid text-center">
<div>
  <form #addForm="ngForm" (ngSubmit)="onSubmit()" (ngSubmit)="resetForm(addForm)">
    <div class="add-box form-group mx-3 my-3 text-center">
      <!-- <label for="title">Title</label> -->
      <input type="text"[(ngModel)]="title" name="title" class="form-control" id="title" aria-describedby="title" [placeholder]="titletext">
    </div>
    <!-- <h1>{{titletext.valid}}</h1>
    <h1>{{titletext.untouched}}</h1> -->
    <button type="submit" class="btn btn-primary mb-1 mx-3">Add Task</button>
  </form>
</div>
</div>