.strike{
    text-decoration: line-through;
}

.content-box:hover{
    box-shadow: 0 0.1px 10px rgba(0, 0, 0, 0.3);
}

.todo-box{
    width: 57.5%;
    text-align: left;
}

h5, .todo-check{
    display: inline-block;
}

.todo-check, .btn{
    position: relative;
    float: right;
}